.vs
*.pfx
Diagram/bin
Diagram/obj

Plugins/CreateDirectoryPlugin/bin
Plugins/CreateDirectoryPlugin/obj

Plugins/DropPlugin/bin
Plugins/DropPlugin/obj

Plugins/FindUidPlugin/bin
Plugins/FindUidPlugin/obj

Plugins/FirstPlugin/bin
Plugins/FirstPlugin/obj

Plugins/NcalcPlugin/bin
Plugins/NcalcPlugin/obj


Plugins/ScriptingPlugin/bin
Plugins/ScriptingPlugin/obj

install-windows/Output
install-windows/files
install-windows/plugins


